.cards
  +card({
    src: '/css-alchemy/img/watchshop.jpg',
    description: 'Интернет магазин часов на React/Redux + Redux saga + firebase',
    demoLink: 'https://watches-shop.web.app',
    githubLink: 'https://github.com/encrypticus/watch-shop/'
  })

  +card({
    src: '/css-alchemy/img/flexbox-grid.jpg',
    description: 'Модульная сеточная система, основанная на css-свойстве flexbox',
    demoLink: 'https://flexbox-grid-pro.github.io/grid/index.html',
    githubLink: 'https://npmjs.com/package/flexbox-grid-pro',
    linkText: 'NPM',
    linkIcon: '/css-alchemy/img/npm-icon.svg'
  })

  +card({
    src: '/css-alchemy/img/burgers.png',
    description: 'CSS-библиотека мобильных меню-гамбургеров',
    demoLink: url_for('/2020/04/04/библиотека-гамбургеров/'),
    githubLink: 'https://npmjs.com/package/magic-burgers',
    linkText: 'NPM',
    linkIcon: '/css-alchemy/img/npm-icon.svg'
  })

  +card({
    src: '/css-alchemy/img/ext.jpg',
    description: 'Scroll Buttons - расширение для браузера Chrome',
    linkText: 'Web store',
    linkIcon: '/css-alchemy/img/webstore-icon.svg',
    demoLink: 'https://youtu.be/3WPUgilY2yE',
    githubLink: 'https://chrome.google.com/webstore/detail/scroll-buttons/blkcalljbilnpflcagdojnldcdifnndp'
  })

  +card({
    src: '/css-alchemy/img/react.jpg',
    description: 'React/Redux приложение показания электросчетчиков',
    demoLink: 'https://data-meters.web.app',
    githubLink: 'https://github.com/encrypticus/meters-data/'
  })


  +card({
    src: '/css-alchemy/img/webpack.png',
    description: 'Универсальный модульный webpack-конфиг',
    demoLink: 'https://github.com/encrypticus/webpack-starter-kit',
    githubLink: 'https://github.com/encrypticus/webpack-starter-kit'
  })

  +card({
    src: '/css-alchemy/img/pasco.jpg',
    description: 'Шаблон коллективного блога Pasco',
    demoLink: 'https://encrypticus.github.io/pasco/',
    githubLink: 'https://github.com/encrypticus/pasco/'
  })

  +card({
    src: '/css-alchemy/img/bislite.jpg',
    description: 'Шаблон сайта иконок BasLite',
    demoLink: 'https://encrypticus.github.io/baslite/',
    githubLink: 'https://github.com/encrypticus/baslite/'
  })

  +card({
    src: '/css-alchemy/img/law.jpg',
    description: 'Шаблон сайта юридического агенства',
    demoLink: 'https://encrypticus.github.io/law/',
    githubLink: 'https://github.com/encrypticus/law/'
  })

  +card({
    src: '/css-alchemy/img/aditu.jpg',
    description: 'Шаблон интернет-магазина одежды',
    demoLink: 'https://encrypticus.github.io/aditu/',
    githubLink: 'https://github.com/encrypticus/aditu/'
  })

  +card({
    src: '/css-alchemy/img/uikit.jpg',
    description: 'Сайт расширения Scroll Buttons',
    demoLink: 'https://encrypticus.github.io/uikit/',
    githubLink: 'https://github.com/encrypticus/uikit/'
  })
