footer.page-footer
  .page__socials
    +socials('theme_light')
  +copyright('© Александр Тимофеев. Сайт собран с помощью гремучей смеси hexo + webpack + gulp.</span>')
  +site-logo({ text: 'css alchemy', href: '/css-alchemy/' }, 'theme_light')