.socials {

  $block-name: &;

  display: flex;
  width: 125px;
  justify-content: space-between;

  &__link {
    display: block;
    line-height: 0;
    transition: transform .3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__icon {
    width: 25px;
    height: auto;
    color: gray;
  }

  &_theme_light {

    #{$block-name}__icon {

      path {
        fill: #fff;
      }
    }
  }
}