extends partials/layout

append style
  != css('index.css')

block content
  .page__heading
    +heading('Мои проекты')

  include blocks/cards/cards

  .page__content-inner
    section.page__posts
      include blocks/post-list/post-list

    aside.page__sidebar
      +heading('категории', 'sidebar')
      +categories

      +heading('тэги', 'sidebar')
      +tags

      if theme.archives.show
        +heading('архив', 'sidebar')
        +archives

block scripts
  != js(['npm.svg-injector.js', 'npm.mmenu-js.js', 'index.js', 'npm.jquery.js'])
