extends partials/layout

append style
  link(rel="stylesheet" href= url_for('index.css'))

block content
  include blocks/page-header/page-header

block scripts
  script(src='npm.svg-injector.js')
  script(src='index.js')
