extends partials/layout

append style
  link(rel="stylesheet" href= url_for('index.css'))

block content
  .page__heading
    +heading('Мои проекты')

  include blocks/cards/cards

  .page__content-inner
    section.page__posts
      include blocks/post-list/post-list

    aside.page__sidebar

block scripts
  script(src= url_for('npm.svg-injector.js'))
  script(src= url_for('npm.mmenu-js.js'))
  script(src= url_for('index.js'))
