extends partials/layout

append style
  if page.include_post_style && page.include_post_style !== ''
    include partials/styles/post

  if page.include_highlight
    include partials/styles/highlightjs

block content
  .page__content-inner
    section.page__posts
      +post(page, true)

    include blocks/sidebar/sidebar

append scripts
  if page.include_post_script && page.include_post_script !== ''
    include partials/scripts/post

  if page.include_highlight
    include partials/scripts/highlightjs