extends partials/layout

block description
  if page.description && page.description !== ''
    meta(name="description", content=page.description)

block keywords
  if page.keywords && page.keywords !== ''
    meta(name='keywords', content=page.keywords)

append style
  if page.include_post_style && page.include_post_style !== ''
    include partials/styles/post

  if page.include_highlight
    include partials/styles/highlightjs

block content
  .page__content-inner
    section.page__posts
      +post(page, true)
      .page__heading.page__heading_comments
        +heading('Комментарии')
      +comments

    include blocks/sidebar/sidebar

append scripts
  if page.include_post_script && page.include_post_script !== ''
    include partials/scripts/post

  if page.include_highlight
    include partials/scripts/highlightjs