extends partials/layout

append style
  if page.include_post_style && page.include_post_style !== ''
    link(rel="stylesheet", href=`${page.include_post_style}.css`)

block content
  .page__content-inner
    section.page__posts
      +post(page, true)

    include blocks/sidebar/sidebar