---
title: 'Исчерпывающее руководство по созданию модульной библиотеки, реализующей адаптивную сетку. Часть 2. Выравнивание колонок.'
date: 2020-06-21 21:26:55
tags:
- scss
- sass
- libs
categories:
- препроцессоры
- scss
- библиотеки
thumbnail: /css-alchemy/img/flexbox-grid-hero.png
include_post_style: post
include_highlight: true
---
include ../../themes/alchemy/layout/components/heading/heading
include _snippets/snippets
-
  const html = snippets.grid.html;
  const sass = snippets.grid.sass;
  const bash= snippets.grid.bash;

p.post__text
  | Выравнивание колонок внутри ряда – это по сути то же самое, что и выравнивание флекс-элементов внутри флекс-контейнера.
  | Ведь фактически колонки сетки и есть флекс-элементы внутри ряда сетки – флекс-контейнера. А как нам известно, для
  | флекс-элементов существует два вида выравнивания – выравнивание вдоль главной оси и выравнивание вдоль поперечной оси.
  | Лучше продемонстрировать это наглядно.

p.post__text Выравнивание колонок вдоль главной оси:

p.post__text Колонки распологаются в начале ряда:
.post__grid
  .row.justify-content-start
    .col-2.no-v-gutters.post__col 1
    .col-2.no-v-gutters.post__col 2

p.post__text Колонки распологаются по центру ряда:
.post__grid
  .row.justify-content-center
    .col-2.no-v-gutters.post__col 1
    .col-2.no-v-gutters.post__col 2

p.post__text Колонки распологаются в конце ряда:
.post__grid
  .row.justify-content-end
    .col-2.no-v-gutters.post__col 1
    .col-2.no-v-gutters.post__col 2

p.post__text
  | Колонки распологаются равномерно по ширине ряда. Аналог <span class='code'>justify-content: space-between</span>:
.post__grid
  .row.justify-content-space-between
    .col-2.no-v-gutters.post__col 1
    .col-2.no-v-gutters.post__col 2

p.post__text
  | Колонки распологаются равномерно по ширине ряда и имеют полуразмерное пространство.
  | Аналог<span class='code'>justify-content: space-around</span>:
.post__grid
  .row.justify-content-space-around
    .col-2.no-v-gutters.post__col 1
    .col-2.no-v-gutters.post__col 2

p.post__text Выравнивание колонок вдоль поперечной оси:

p.post__text Колонки располагаются в начале ряда:

.post__grid
  .row.align-items-start(style='height: 200px')
    .col.no-v-gutters.post__col 1
    .col.no-v-gutters.post__col 2

p.post__text Колонки располагаются по центру ряда:
.post__grid
  .row.align-items-center(style='height: 200px')
    .col.no-v-gutters.post__col 1
    .col.no-v-gutters.post__col 2

p.post__text Колонки располагаются в конце ряда:
.post__grid
  .row.align-items-end(style='height: 200px')
    .col.no-v-gutters.post__col 1
    .col.no-v-gutters.post__col 2

p.post__text
  | Колонки имеют "авто-размер", подстраиваясь под размер контейнера. Аналог <span class='code'>align-items: stretch</span>:
.post__grid
  .row.align-items-stretch(style='height: 200px')
    .col.no-v-gutters.post__col 1
    .col.no-v-gutters.post__col 2

p.post__text Выравнивание отдельно взятой колонки вдоль поперечной оси:
p.post__text В начале ряда:
.post__grid
  .row(style='height: 200px')
    .col.no-v-gutters.align-self-start.post__col 1
    .col.no-v-gutters.post__col 2

p.post__text В центре ряда:
.post__grid
  .row(style='height: 200px')
    .col.no-v-gutters.align-self-center.post__col 1
    .col.no-v-gutters.post__col 2

p.post__text В конце ряда:
.post__grid
  .row(style='height: 200px')
    .col.no-v-gutters.align-self-end.post__col 1
    .col.no-v-gutters.post__col 2

p.post__text Теперь давайте посмотрим, как реализовать такой функционал.

p.post__text
  | Для начала в директорию с миксинами <span class='code'>mixins</span> добавим новый файл <span class='code'>_alignment</span>,
  | в котором и будет храниться код, отвечающий за выравнивание элементов. Первым делом добавим миксин, отвечающий за
  | вырвнивание колонок вдоль главной оси:
