---
title: 'Библиотека гамбургеров'
date: 2020-04-04 14:00:42
tags:
- scss
- sass
- libs
categories:
- препроцессоры
- scss
- библиотеки
thumbnail: /thumbnails/hamburgers.jpg
include_post_style: post
include_post_script: post
---
include ../../themes/alchemy/layout/components/hamburger/hamburger
p.post__text
  | Абзац записывается в Markdown весьма просто: это одна или несколько строк текста, отделённые от окружающего текста одной (или более чем одной)
  | пустой строкою. (Пустой строкою считается всякая, которая выглядит пустой; строка, не содержащая ничего, кроме пробелов и символов табуляции,
  | считается пустой.) Обычные параграфы не следует снабжать отступом из пробелов или символов табуляции. Следствием правила «одна или несколько
  | строк текста» является поддержка Маркдауном таких абзацев текста, в которых имеются «жёсткие переводы строки» (то есть такие места́, в которых
  | автор нажимал на кнопку «ввод», также называемую «Enter»). Это заметно отличает Markdown от большинства других средств преобразования текста
  | в HTML (например, от Movable Type с включённой настройкою «Convert Line Breaks»), поскольку эти средства преобразуют переводы строк в HTML-элемент
  | <br/> — и, стало быть, прерывают им обычное течение текста в абзаце.

mixin effect-name(name)
  h3.effect-name= name

section.hamburger-table
  .hamburger-table__col
    +effect-name('simple')
    +hamburger

  .hamburger-table__col
    +effect-name('collapse')
    +hamburger('collapse')

  .hamburger-table__col
    +effect-name('storm')
    +hamburger('storm')

  .hamburger-table__col
    +effect-name('juggler')
    +hamburger('juggler')

  .hamburger-table__col
    +effect-name('shurikens')
    +hamburger('shurikens')

  .hamburger-table__col
    +effect-name('shurikens-r')
    +hamburger('shurikens-r')

  .hamburger-table__col
    +effect-name('shurikens-alt')
    +hamburger('shurikens-alt')

  .hamburger-table__col
    +effect-name('shurikens-alt-r')
    +hamburger('shurikens-alt-r')

  .hamburger-table__col
    +effect-name('minify')
    +hamburger('minify')

  .hamburger-table__col
    +effect-name('arrowturn')
    +hamburger('arrowturn')

  .hamburger-table__col
    +effect-name('arrowturn-r')
    +hamburger('arrowturn-r')

  .hamburger-table__col
    +effect-name('arrowdown')
    +hamburger('arrowdown')

  .hamburger-table__col
    +effect-name('arrowdown-r')
    +hamburger('arrowdown-r')

  .hamburger-table__col
    +effect-name('magic')
    +hamburger('magic')

  .hamburger-table__col
    +effect-name('3d')
    +hamburger('3d')

  .hamburger-table__col
    +effect-name('alchemy')
    +hamburger('alchemy')

  .hamburger-table__col
    +effect-name('alchemy-r')
    +hamburger('alchemy-r')