.hamburger-table {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.875rem; }
  .hamburger-table__col {
    position: relative;
    width: 20%;
    padding: 3.125rem 0;
    text-align: center; }
    @media (max-width: 1024px) {
      .hamburger-table__col {
        width: 25%; } }
    @media (max-width: 480px) {
      .hamburger-table__col {
        width: 50%; } }
    @media (max-width: 320px) {
      .hamburger-table__col {
        width: 100%; } }
    .hamburger-table__col:nth-child(1) {
      background-color: #4a148c; }
    .hamburger-table__col:nth-child(2) {
      background-color: #4db6ac; }
    .hamburger-table__col:nth-child(3) {
      background-color: #ff5722; }
    .hamburger-table__col:nth-child(4) {
      background-color: #444; }
    .hamburger-table__col:nth-child(5) {
      background-color: #ec407a; }
    .hamburger-table__col:nth-child(6) {
      background-color: #fbc02d; }
    .hamburger-table__col:nth-child(7) {
      background-color: #2196f3; }
    .hamburger-table__col:nth-child(8) {
      background-color: #607d8b; }
    .hamburger-table__col:nth-child(9) {
      background-color: #43a047; }
    .hamburger-table__col:nth-child(10) {
      background-color: #3f51b5; }
    .hamburger-table__col:nth-child(11) {
      background-color: #00bcd4; }
    .hamburger-table__col:nth-child(12) {
      background-color: #f44336; }
    .hamburger-table__col:nth-child(13) {
      background-color: #9c27b0; }
    .hamburger-table__col:nth-child(14) {
      background-color: #ffc107; }
    .hamburger-table__col:nth-child(15) {
      background-color: #000; }
    .hamburger-table__col:nth-child(16) {
      background-color: #03a9f4; }
    .hamburger-table__col:nth-child(17) {
      background-color: #795548; }
  .hamburger-table .line-top-left,
  .hamburger-table .line-top-right,
  .hamburger-table .line-center-left,
  .hamburger-table .line-center-right,
  .hamburger-table .line-bottom-left,
  .hamburger-table .line-bottom-right {
    background-color: #fff; }
  .hamburger-table .effect-name {
    position: absolute;
    width: 100%;
    padding-top: 0.625rem;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
    font-size: 1rem; }

.post__text {
  margin-bottom: 1.875rem; }

.post__list {
  list-style-type: decimal;
  list-style-position: inside;
  margin-bottom: 1.875rem; }

.post__list-item-span {
  display: inline-block;
  margin-bottom: 1.875rem; }

.post code {
  padding: .2rem .4rem;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px; }

.post pre {
  margin-bottom: 1.875rem;
  padding: 1rem;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
  font-style: normal;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace; }
