include includes

-
  var description = "",
  keywords = "";

  const postList = site.posts.reduce(function(posts, post) {
    let excerpt = post.excerpt.replace(/\>\</g, '>\n<') || post.content.substr(0, 1000).replace(/\>\</g, '>\n<');

    posts.push({
      title: post.title,
      subtitle: post.subtitle,
      categories: post.categories,
      tags: post.tags,
      date: post.date,
      id: post._id,
      content: post.content,
      link: url_for(post.link || post.path),
      thumbnail: post.thumbnail
  });

  return posts;

  }, []);

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    block description
      meta(name="description" content=description)

    block keywords
      meta(name="keywords", content=keywords)

    meta(http-equiv="X-UA-Compatible" content="IE=Edge")

    block style

    block favicons
      include favicons

    block title
      include title

  body
    #menu-wrapper
      .page
        .page__inner
          .wrapper
            include ../blocks/page-header/page-header
            main.page__content
              block content

    block scripts