mixin mmenu()
  nav#mmenu.mmenu.mmenu_hidden
    ul.mmenu__list
      li.mmenu__list-item
        a.mmenu__link(href='/') Главная
      li.mmenu__list-item
        span Категории
        != list_categories({ show_count: false, class: 'categories-widget' })
      li.mmenu__list-item
        span Тэги
        != list_tags({ show_count: false, class: 'categories-widget' })
      li.mmenu__list-item
        span Архивы
        != list_archives({ show_count: false, class: 'categories-widget' })