@import "../../../../../webpack-boilerplate/src/sass/utils";

.heading {

  $block-name: &; // #{$block-name}__element

  font-size: pxToRem(30);

  &_sidebar {
    color: #696969;
    margin-bottom: pxToRem(10);
  }
}
